:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --black: #1A0809;
  --color1: #B3646B;
  --color2: #5C080F;
  --blue: #2f9fff

}

